.grid-container{
    display: grid;
    grid-template-columns: 33% 33% auto;
    /* grid-template-rows: 33% 33% auto; */
    gap: 50px;
    background-color: gray;
    padding: 15px;
    justify-content: space-evenly;
}

.grid-container > div{
    background-color: rgb(189 189 189);
    text-align: center;
}

.cajita{
    width: 100px;
    height: 100px;
}
.solid{
    border: 5px solid red;
}
.dotted{
    border: 5px dotted red;
}
.dashed{
    border: 5px dashed red;
}
.double{
    border: 5px double red;
}
.groove{
    border: 5px groove red;
}
.ridge{
    border: 5px ridge red;    
}
.inset{
    border: 5px inset red;    
}
.outset{
    border: 5px outset red;
}